body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  color: white;
}

a {
  color: #00B7FF;
}

#queuetime {
	color: #fff;
	font-size: 1.2em;
}

.queue {
	font-size: 3.5em;
}

.flashYellow {
	background-color: #FFFF00;
	color: black;
}

.flashRed {
	background-color: #FF0000;
	color: black;
}

.call-header {
	text-align: center;
	padding-bottom: 5px;
	padding-top: 5px;
	margin-bottom: 5px;
	border: 1px solid white;
}

#main-row {
	padding-top: 10px;
	font-size: 18px;
}

#bottom-row {
	padding-top: 5px;
}

.picture {
	max-width:100%;
}

.whiteBackground {
	background-color: white;
	color: black;
}
