body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#queuetime {
	color: #fff;
	font-size: 1.2em;
}

#queue {
	font-size: 3.5em;
}

.flash {
	background-color: #111;
}